source https://nuget.org/api/v2

nuget FSharp.Formatting
nuget NUnit ~> 2
nuget FsUnit
nuget NUnit.Runners ~> 2
nuget Nuget.CommandLine
nuget FAKE prerelease
nuget SourceLink.Fake
nuget FSharp.Data
nuget FSharp.Core

github fsharp/FAKE modules/Octokit/Octokit.fsx

github fsprojects/FSharp.TypeProviders.StarterPack src/ProvidedTypes.fsi
github fsprojects/FSharp.TypeProviders.StarterPack src/ProvidedTypes.fs
