source https://nuget.org/api/v2

nuget FSharp.Formatting
nuget NUnit 
nuget FsUnit 
nuget NUnit.Runners
nuget Nuget.CommandLine
nuget FAKE
nuget SourceLink.Fake
nuget FSharp.Data

github fsharp/FAKE modules/Octokit/Octokit.fsx

github fsprojects/FSharp.TypeProviders.StarterPack src/ProvidedTypes.fsi
github fsprojects/FSharp.TypeProviders.StarterPack src/ProvidedTypes.fs
github fsprojects/FSharp.TypeProviders.StarterPack src/DebugProvidedTypes.fs
